<h1>Edit#Stuff#<%= @stuff.id %> </h1>
<%= form_for @stuff do |f| %>
    <%= f.text_field :content %>
    <p>1. 预估需要时间</p>
    <%= f.select(:plan_time, Stuff::PLAN_TIME) %><br>
    <div class="radio">
      <label>
        <%= f.radio_button(:statu_code, @stuff.to_next_act, :checked => true) %>下一步文件夹</label>

      <p>一般东西请加入待办事项，等待按顺序处理</p>
    </div>

    <div class="radio">
      <label>
        <%= f.radio_button(:statu_code, @stuff.to_schedule) %>日程表</label>

      <p>需要在特定日期做的东西，请加入日程安排</p>

    </div>

    <div class="radio">
      <label>
        <%= f.radio_button(:statu_code, @stuff.to_project) %>项目文件夹</label>

      <p>耗时超过1天，需要详细规划的项目</p>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" id="has_deadline" name="has_deadline">有截止日期</label></div>
    <div class="checkbox hide" id="deadline">
      <%= f.date_select(:deadline) %></div>

    <div class="select">
      <label>2. 选择标签</label><br>
      <%= f.select(:stuffs_tags, @user_tags,{:selected => @stuff.tags},
                   { :multiple => true, :size => @user_tags.count }
          ) %>
    </div>
    <%= f.submit "下一步" %>

<% end %>

<script>
    $(function () {
        $("#stuff_plan_time").change(function () {
            if (Number($("#stuff_plan_time").val()) > 10) {
                $("#stuff_statu_code_<%=@stuff.to_project%>").prop('checked', true);
                $("#stuff_statu_code_<%=@stuff.to_next_act%>").prop('disabled', true);
                $("#stuff_statu_code_<%=@stuff.to_schedule%>").prop('disabled', true);
                //$("#addTag").removeClass("hide");
            } else {
                $("#stuff_statu_code_<%=@stuff.to_project%>").prop('checked', false);
                $("#stuff_statu_code_<%=@stuff.to_next_act%>").prop('disabled', false);
                $("#stuff_statu_code_<%=@stuff.to_schedule%>").prop('disabled', false);

                //$("#addTag").addClass("hide");
            }

        });// end todo and project


        $('#has_deadline').click(function () {
            var thisCheck = $(this);
            if (!thisCheck.is(':checked')) {
                $("#deadline").addClass("hide");
            } else $("#deadline").removeClass("hide");
        });
    });


</script>