<h1>注册新用户</h1>
<div class='signup-form'>
	<%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages' %>
	<%= f.label 'Email' %>
	<br />
	<%= f.text_field :email %>
	<br />
	<%= f.label '密码'  %>
	<br />
	<%= f.password_field :password %>
	<br />
	<%= f.label '再输入一次密码'  %>
	<br />
	<%= f.password_field :password_confirmation %><br />
	<%= f.submit "注册" %>
	<% end %>
</div>
