<h1>User#new</h1>
 <%= form_for(@user ,:html => {:class => "form"}) do |f| %>
 <%= f.label :email %>
 <%= f.text_field :email %>
 <%= f.label :password  %>
 <%= f.text_field :password %>
 
 <%= f.submit "Create" %>
 <% end %>
