<h3><%= @stuff.content %></h3>
<p>截止日期:
  <%= @stuff.deadline %></p>
<p>执行日期:
  <%= @stuff.doing_date %></p>
<p>计划时间:
  <%= @stuff.plan_time %>
</p>
<p>隶属于:
  <%= @stuff.parent_id %>
</p>

<p>状态:
  <%= Stuff::statu_code_2_name @stuff.statu_code %>
</p>



<% if @stuff.statu_code == Stuff::STATU_CODE_AT_TRASH %>
        <%= link_to '删除', :method => :delete %>

<% elsif @stuff.statu_code != Stuff::STATU_CODE_DONE %>
    <%= link_to '编辑', edit_stuff_path %>
    <%= link_to '已完成', "#{@stuff.id}/done" %>

<% end %>
