
  <%= form_for @stuff,:html =>{:role =>'form'} do |f| %>

      <div class="form-group">
      <%= f.label '内容' %>
      <br/>
      <%= f.text_field :content,  :class =>'form-control'  %>
      <p>( 最长不要超过250字 )</p>
        </div>
      <%= f.hidden_field :parent_id , :value =>@stuff.parent_id %>

      <%= f.submit "创建" %>
  <% end %>
