
  <%= form_for(@stuff,:role =>'form') do |f| %>

      <div class="form-group">
      <%= f.label '内容' %>
      <br/>
      <%= f.text_field :content %>
      <p>( 最长不要超过250字 )</p>
        </div>
      <%= f.hidden_field :parent_id , :value =>@stuff.parent_id,:class =>'form-control' %>

      <%= f.submit "创建" %>
  <% end %>
