<%= @stuff.content %><br>
<p>deadline:</p>
<%= @stuff.deadline %><br>
<p>doing date:</p>
<%= @stuff.doing_date %><br>
<p>plan time:</p>
<%= @stuff.plan_time %><br>
<%= link_to 'Edit' ,edit_stuff_path %>
<%= link_to 'Done' ,"#{@stuff.id}/done" %>

