<h3><%= @stuff.content %></h3>
<p>deadline:
  <%= @stuff.deadline %></p>
<p>doing date:
  <%= @stuff.doing_date %></p>
<p>plan time:
  <%= @stuff.plan_time %>
</p>
<p>belongs to:
  <%= @stuff.parent_id %>
</p>

<p>statu:
  <%= Stuff::statu_code_2_name @stuff.statu_code %>
</p>



<% if @stuff.statu_code == Stuff::STATU_CODE_AT_TRASH %>
        <%= link_to '删除', :method => :delete %>

<% elsif @stuff.statu_code != Stuff::STATU_CODE_DONE %>
    <%= link_to '编辑', edit_stuff_path %>
    <%= link_to '已完成', "#{@stuff.id}/done" %>

<% end %>
