<div id="footer">
  <div class="container">

    <%= link_to '标签', tags_path %>
    <%= link_to '垃圾桶', trash_path %>
    <%= link_to '已完成的', dones_path %>
    <%= link_to '全部事项', all_path %> <br>

    <%= link_to '帮助', help_path %>
    <%= link_to '关于OKGTD', about_path %>

    <p class="small">Project do.it david@airlio.com</p>
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>
