<% @badge = nav_badge %>
<div class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">OKGTD</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">

				<%= nav_link '主页', home_path  %>



				<%= nav_link '收集箱', inbox_path %>



				<%= nav_link "处理#{status_num_2_badge @badge, Stuff::STATU_CODE_AT_INBOX}".html_safe, process_path %>

                <%= nav_link "组织#{status_num_2_badge @badge, Stuff::STATU_CODE_AT_ORG}".html_safe, organzie_path %>


			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">待办事项 <b class="caret"></b></a>
				<ul class="dropdown-menu">

                      <%= nav_link '下一步行动', next_action_path %>


                      <%= nav_link '日程表', schedule_path %>


                      <%= nav_link '项目',projects_path %>

                  <li class="divider"></li>

                    <%= nav_link '等待中的', waiting_path %>


                    <%= nav_link '全部待处理事项', all_path %>


				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle"
                   data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to "设置", edit_user_registration_path %>
					</li>
					<li class="divider"></li>
					<li>
						<%= link_to "退出",  destroy_user_session_path , :method => :delete %>
					</li>

				</ul>
			</li>

			<% else %>
			<li>
				<a href="<%= new_user_session_url %>"><span class="glyphicon glyphicon-user"></span> 登录</a>
			</li>
			<li>
				<a href="/signup">注册</a>
			</li>
			<% end %>
		</ul>
	</div><!--/.nav-collapse -->
</div>
